//Color Scheme

//Color 1
$color-white: #fff;
$color-platinum: #e6e7e7;
$color-gray: #BABABA;

//Color 2
$color-darksalmon: #ee9480;
$color-melon: #fabaae;
$color-palepink: #fadfda;

//color 3
$color-ballblue: #2ab7ca;
$color-middleblue: #77d1dd;
$color-bluelagoon: #b1e4eb;

//color 4
$color-onyx: #333745;
$color-spanishgray: #8f9199;
$color-lavendergray: #c7c8cc;

//color 5
$color-raisingblack: #221d23;
$color-nickel: #726f73;
$color-silverchalice:#aeacaf;
//Typography
//Font Family
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;


// Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

