a {
  color: black;
}

.header--texto--titulo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  width: 70%;
  width: 80%;
}

.header--texto--texto {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.caracteristicas--titulo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  padding-bottom: 8vmax;
}
@media (min-width: 768px) {
  .caracteristicas--titulo {
    padding-bottom: 4vmax;
  }
}

.caracteristicas--estadisticas {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  padding-bottom: 4vmax;
}

.container--footer {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding-top: 4vmax;
  padding-bottom: 2vmax;
}

.container--copyright {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.card-list {
  width: 80%;
}

.nav--color {
  background-color: #fff;
}

.nav--img {
  padding: 0.8rem;
}

.container--header {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
@media (min-width: 768px) {
  .container--header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.header--texto {
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 1rem;
}
@media (min-width: 768px) {
  .header--texto {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 64%;
    margin-top: 6.5rem;
    margin-left: 6.5rem;
  }
}

.header--img {
  grid-row: 2/3;
  grid-column: 1/3;
}
.header--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .header--img {
    grid-row: 1/2;
  }
}

.precios {
  background-image: url(../img/bg-price.svg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% 0%;
  padding-top: 5vmax;
  padding-top: 5vmax;
}
@media (min-width: 768px) {
  .precios {
    padding-top: 0vmax;
  }
}

.container--precios {
  display: flex;
  flex-direction: column;
}

.precios--titulo {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 2rem;
  color: #fff;
}

.precios--cards {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
@media (min-width: 768px) {
  .precios--cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  justify-content: center;
}

.container--caracteristicas {
  padding-top: 10vmax;
}
@media (min-width: 768px) {
  .container--caracteristicas {
    padding-top: 1vmax;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5% 1fr;
    justify-items: center;
  }
}

@media (min-width: 768px) {
  .item1 {
    grid-row: 1/2;
    grid-column: 1/3;
  }
}

@media (min-width: 768px) {
  .item2 {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-items: right;
  }
}

@media (min-width: 768px) {
  .item3 {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 80%;
    text-align: left;
  }
}

.caracteristicas--grafico {
  text-align: center;
  position: relative;
  right: -2rem;
  padding-bottom: 7vmax;
}

.carta {
  margin-bottom: 8vmax;
}
@media (min-width: 768px) {
  .carta {
    width: 20rem;
  }
}

.footer {
  background-color: #221d23;
}

.container--footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.container--copyright {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
}

.footer--copyright {
  text-align: center;
}

footer p {
  color: #fff;
}

.card-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #333745 !important;
  font-size: 16px;
  padding-top: 2.5vmax;
  padding-bottom: 2vmax;
}

.card-subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: black !important;
  padding-bottom: 3vmax;
  border-bottom: 1.5px solid #BABABA;
}

.card-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-top: 2.5vmax;
  padding-bottom: 1vmax;
  width: 80%;
}

.card-list {
  border-bottom: 1.5px solid #BABABA;
  padding-bottom: 3vmax;
  width: 100%;
}

button {
  padding-top: 3vmax;
  padding-bottom: 4vmax;
}

/*# sourceMappingURL=styles.css.map */
